@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap");

:root {
  --font: "Poppins", sans-serif;
  --bgwhite: #fff;
  --bgcontact: #6070ff;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --bgbrown: #e5e5e5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin: 32px 0;
}

header img {
  max-width: 72px;
  margin: 0 16px;
}

header a {
  text-decoration: none;
  margin: 0 16px;
  font-size: x-large;
  color: black;
}

.show-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 96vw;
  margin: 16px 8vw;
}

.show-item {
  width: 215px;
  margin: 24px 3vw;
}

div img {
  width: 215px;
}

.show-info {
  display: flex;
  justify-content: space-between;
}

button {
  width: 215px;
  border: 2px solid black;
  font-size: larger;
  font-weight: bold;
  background-color: white;
  box-shadow: 2px 2px black;
  border-radius: 4px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer div {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 15px;
  padding: 10px;
}
